:root {
  --bg-color: #f4f4f4;
  --btn-color: #ffffff;
  --btn-hover: #e5e5e5;
  --text-color: #000000;
  --accent-text: #636366;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:root.dark {
  --bg-color: #000000;
  --btn-color: #1c1c1e;
  --btn-hover: #2c2c2e;
  --text-color: #ffffff;
  --accent-text: #a5a5a5;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


* {
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

input {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 15% 0;
  width: 100%;
  font-size: 200%;
  text-align: right;
  outline: none;
  border: none;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

button {
  background-color: var(--btn-color);
  color: var(--text-color);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#numpad {
  margin: 0;
  padding: 0.4rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
  box-sizing: border-box;
}

#numpad button {
  aspect-ratio: 1.2/1;
  padding: 0;
  font-weight: 500;
  font-size: 1.8rem;
  touch-action: manipulation;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 2%;
}

#title {
  margin: 0;
  font-size: 180%;
  text-align: center;
}

#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.3; 
  z-index: 9;
}
#overlay.active {
  display: block;
}

#pluginsMenu {
  background-color: var(--bg-color);
  box-shadow: -10px 0px 20px var(--shadow);
  display: flex;
  transform: perspective(600px) translateX(60%) rotateY(90deg) scale(0.9);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 60%;
  z-index: 10;
  backdrop-filter: blur(2rem);
  top: 0;
  right: 0;
  pointer-events: none;
}
#pluginsMenu.active {
  transform: perspective(600px) translateX(0) rotateY(4deg) scale(1);
  pointer-events: auto;
}
#pluginsMenu h3 {
  text-align: center;
  font-size: 2rem;
}
#pluginsMenu input {
  padding: 1rem;
  font-size: 1rem;
}
.plugin-item {
  display: flex;
  background-color: var(--btn-color);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 1rem;
}
.remove-plugin {
  background-color: var(--btn-color);
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  color: #993333cc;
  border: none;
}
#plugin-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}
.upload-plugin {
  position: relative;
  display: inline-block;
}
#fileinput {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.upload-plugin-btn {
  background-color: var(--btn-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
